body {
  font-family: 'HelveticaNeueLTStd', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #336680;
}
@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url('../fonts/HelveticaNeueLTStd-UltLt.otf');
  font-style: normal;
  font-weight: normal;
}

/*--- Navigation Menu --- start*/
#menu {
  z-index: 999;
  /*border: 1px solid green;*/
  position: fixed;
  top: 20px;
  right: 50px;
}
.menu-icon {
  /*border: 1px solid green;*/
  width: 148px;
}
.hamburger-icon {
  /*border: 1px solid green;*/
  float: left;
  margin: 7px 0 0 2px;
  width: 45px;
}
.hamburger-icon .bar {
  background-color: #9828B8;
  border-radius: 2px;
  height: 5px;
  margin: 4px;
}
.menu-icon p {
  margin: 7px 0 0 50px;
  font-size: 40px;
  color: #9828B8;
}
#menu h3 {
  text-align: right;
  transition-property: font-weight;
  transition-duration: 0.05s;
}
#menu h3:hover {
  font-weight: normal;
}
.option a:link, .option a:active, .option a:visited {
  text-decoration: none;
  font-family: 'HelveticaNeueLTStd', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #9828B8;
}
.option a:hover {
  color: #CC94DC;
}
a:hover, a:link, a:active, a:visited, h2:link {
  text-decoration: none;
  font-family: 'HelveticaNeueLTStd', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #336680;
}
/*--- Navigation Menu --- end*/

#page1 {
  background-image: url("../images/airport(2000)blue.jpg");
  padding: 20px;
  background-size: cover;
  background-position: center;
}
#page1 img[src="images/IljaGoushchaHead(200px).png"] {
  display: block;
  margin: 50px auto 0 auto;
  border: 1px solid #336680;
  border-radius: 100px;
}
.background1 {
  margin: 0 auto 0 auto;
  width: 400px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
}
.background2 {
  margin: 0 auto 0 auto;
  width: 500px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
}
#page1 h1, #page1 h2  {
  text-align: center;
  font-size: 60px;
}
#page1 img[src="images/github.png"], #page1 img[src="images/linkedin.png"] {
  width: 5%;
  margin-left: 1%;
  margin-right: 1%;
}
#page1 img[src="images/github.png"]:hover, #page1 img[src="images/linkedin.png"]:hover {
  opacity: 0.7;
}
#page1 ul {
  margin-top: 10px;
  list-style-type: none;
  text-align: center;
}
#page1 li {
  display: inline;
}
#page2 {
  background-image: url("../images/airport(2000)pale.jpg");
  padding: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
}
#page2 h1 {
  font-size: 2em;
}
#page2 h3 {
  font-size: 2em;
  font-weight: bold;
}
#page2 p, #page2 ul {
  font-size: 1.5em;
  font-weight: bold;
  color: #4C4C4C;
}
#page2 img[src="images/arrow-right.png"] {
  position: absolute;
  z-index: 99;
  right: 7%;
  top: 42%;
  width: 4%;
}
#page2 img[src="images/arrow-right.png"]:hover {
  opacity: 0.7;
  cursor: pointer;
}
#page2 img[src="images/arrow-left.png"] {
  position: absolute;
  z-index: 99;
  right: 7%;
  bottom: 42%;
  width: 4%;
}
#page2 img[src="images/arrow-left.png"]:hover {
  opacity: 0.7;
  cursor: pointer;
}
.my-slide img {
  width: 100%;
}
.slide-on {
  display: block;
}
.slide-off {
  display: none;
}
#page3 {
  background-image: url("../images/abstract_blue(2000)2.png");
  padding: 20px;
  background-size: cover;
  background-position: center;
}
#page3 p {
  font-weight: bold;
  color: #4C4C4C;
}
#page3 strong {
  font-weight: bold;
  color: green;
}
#skills-list {
  margin: 50px auto 0 auto;
  color: #737373;
}
#skills-list em {
  color: #00B200;
}
#page4 {
  background-image: url("../images/abstract_orange(2000).jpg");
  padding: 20px;
  background-size: cover;
  background-position: center;
}
#page4 .container {
  padding-top: 100px;
}




