#page1 {
  background-image: url("../images/airport(2880_1920).jpg");
  margin: 0px;
  padding: 20px;
}
#page2 {
  background-image: url("../images/AbstractOrange(2880_1920).jpg");
  margin: 0px;
  padding: 20px;
}
#page3 {
  background-image: url("../images/thirdPage.jpg");
  margin: 0px;
  padding: 20px;
}



